<header class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-15-7">
      <!--<span [routerLinkActive]="['link-active']">
        <a [routerLink]='["/"]' class="" (click)="selectedModule('Dashboard')">
        <img src="../../assets/Images/Header/DeloitteLogo.png" class="logo" alt="" />
        </a>
      </span>-->
      <span class="deloitte-logo" [routerLink]='["/"]'>
        Deloitte <span class="green-dot"></span>
      </span>
      <span class="bar"> | </span>
      <span class="projectTitle">Resuable Controls</span>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-15-7">
      <a (click)="nop.toggle($event)" class="float-right">
        <span class="bellIcon"><span class="glyphicon glyphicon-bell"></span></span>
      </a>
    </div>
  </div>
  <p-overlayPanel #nop>
    <div>Notifications:</div><br />
  </p-overlayPanel>
</header>




