<div class="container-fluid">
  <div class="content-section introduction">
    <div>
      <span class="feature-title">Calendar</span>
      <span>
        Calendar is an input component to select a date.
      </span>
    </div>
  </div>
  <div class="content-section implementation">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
        <h3>Basic</h3>
        <p-calendar [(ngModel)]="date1"></p-calendar> {{date1|date}}
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Icon</h3>
        <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar>{{date3|date}}
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Min-Max</h3>
        <p-calendar [(ngModel)]="date4" [minDate]="minDate" [maxDate]="maxDate" readonlyInput="true"></p-calendar> {{date4|date}}
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Disable Days</h3>
        <p-calendar [(ngModel)]="date5" tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0,6]" readonlyInput="true"></p-calendar> {{date5|date}}
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Navigators</h3>
        <p-calendar [(ngModel)]="date6" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar> {{date6|date}}
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Time</h3>
        <p-calendar [(ngModel)]="date7" [showTime]="true"></p-calendar> {{date7}}
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Time Only</h3>
        <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Multiple</h3>
        <p-calendar [(ngModel)]="dates" selectionMode="multiple" readonlyInput="true"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Range</h3>
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" readonlyInput="true"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Button Bar</h3>
        <p-calendar [(ngModel)]="date9" showButtonBar="true"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Date Template</h3>
        <p-calendar [(ngModel)]="date10">
          <ng-template pTemplate="date" let-date>
            <span [ngStyle]="{backgroundColor: (date.day < 21 && date.day > 10) ? '#7cc67c' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
          </ng-template>
        </p-calendar>
      </div>
      <div class="ui-g-12 ui-md-4">
        <h3>Inline</h3>
        <p-calendar [(ngModel)]="date11" [inline]="true"></p-calendar>
      </div>
    </div>
  </div>
    <div class="content-section documentation">
      <p-tabView effect="fade">
        <p-tabPanel header="calendar.html">
          <pre>
          <code class="language-markup" pCode ngNonBindable>
&lt;div class="ui-g ui-fluid"&gt;
    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Basic&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date1"&gt;&lt;/p-calendar&gt; &#123;&#123;date1|date&#125;&#125;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Icon&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date3" [showIcon]="true"&gt;&lt;/p-calendar&gt; &lt;span style="margin-left:35px"&gt;&#123;&#123;date3|date&#125;&#125;&lt;/span&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Min-Max&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date4" [minDate]="minDate" [maxDate]="maxDate" readonlyInput="true"&gt;&lt;/p-calendar&gt; &#123;&#123;date4|date&#125;&#125;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Disable Days&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date5" tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0,6]" readonlyInput="true"&gt;&lt;/p-calendar&gt; &#123;&#123;date5|date&#125;&#125;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Navigators&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date6" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"&gt;&lt;/p-calendar&gt; &#123;&#123;date6|date&#125;&#125;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Time&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date7" [showTime]="true"&gt;&lt;/p-calendar&gt; &#123;&#123;date7&#125;&#125;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Time Only &lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date8" [timeOnly]="true"&gt;&lt;/p-calendar&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Multiple &lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="dates" selectionMode="multiple" readonlyInput="true"&gt;&lt;/p-calendar&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Range&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="rangeDates" selectionMode="range" readonlyInput="true"&gt;&lt;/p-calendar&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Button Bar&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date9" showButtonBar="true"&gt;&lt;/p-calendar&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Date Template&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date10"&gt;
            &lt;ng-template pTemplate="date" let-date&gt;
                &lt;span [ngStyle]="&#123;backgroundColor: (date.day &lt; 21 && date.day &gt; 10) ? '#7cc67c' : 'inherit'&#125;" style="border-radius:50%"&gt;{{date.day}}&lt;/span&gt;
            &lt;/ng-template&gt;
        &lt;/p-calendar&gt;
    &lt;/div&gt;

    &lt;div class="ui-g-12 ui-md-4"&gt;
        &lt;h3&gt;Inline&lt;/h3&gt;
        &lt;p-calendar [(ngModel)]="date11" [inline]="true"&gt;&lt;/p-calendar&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;h3&gt;Inline&lt;/h3&gt;
&lt;p-calendar [(ngModel)]="date11" [inline]="true"&gt;&lt;/p-calendar&gt;
          </code>
        </pre>
        </p-tabPanel>

        <p-tabPanel header="calendar.ts">
<pre>
          <code class="language-typescript" pCode ngNonBindable>
export class CalendarDemo &#123;

    date1: Date;

    date2: Date;

    date3: Date;

    date4: Date;

    date5: Date;

    date6: Date;

    date7: Date;

    date8: Date;

    date9: Date;

    date10: Date;

    date11: Date;

    dates: Date[];

    rangeDates: Date[];

    minDate: Date;

    maxDate: Date;


    invalidDates: Array&lt;Date&gt;

    ngOnInit() &#123;
        

        this.tr = &#123;
            firstDayOfWeek : 1
        &#125;

        let today = new Date();
        let month = today.getMonth();
        let year = today.getFullYear();
        let prevMonth = (month === 0) ? 11 : month -1;
        let prevYear = (prevMonth === 11) ? year - 1 : year;
        let nextMonth = (month === 11) ? 0 : month + 1;
        let nextYear = (nextMonth === 0) ? year + 1 : year;
        this.minDate = new Date();
        this.minDate.setMonth(prevMonth);
        this.minDate.setFullYear(prevYear);
        this.maxDate = new Date();
        this.maxDate.setMonth(nextMonth);
        this.maxDate.setFullYear(nextYear);

        let invalidDate = new Date();
        invalidDate.setDate(today.getDate() - 1);
        this.invalidDates = [today,invalidDate];
    &#125;
&#125;
              </code>
</pre>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
